body {
    background-image: url("./Assets/Images/wp3589868.jpg");
    background-repeat:repeat-y;
    background-size: 100%; 
    font-size: 14px;
}
.card img {
    display: flex;
    width: 300px;
}

.card-header {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold!important ;
    color: rgb(100, 117, 139) !important;
    background-color: #FFFFFF;
}
.navbar-brand {
    width: 200px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold!important ;
    background-color: rgb(100, 117, 139);
    color: #FFFFFF !important;
}
.btn {
    background-color: rgb(100, 117, 139);
    border-color: black;
}
.contactBox {
    margin-left: 4%;
}

p {color: rgb(100, 117, 139);}

a {align-self: center;}